@import '../../node_modules/normalize.css/normalize.css';
@import './variables.scss';

body {
    background: linear-gradient(to right, map-get($colors, 'space1'), map-get($colors, 'space2'));
    color: map-get($colors, 'main');
    font: 150% map-get($fonts, 'main');
}

h1 {
    margin: 0;
    font: bold 1.5em/1.2 map-get($fonts, 'secondary');
}

p {
    line-height: 1.5;
}

a {
    color: map-get($colors, 'active');
}

.hidden {
    display: none;
}

.site {
    position: relative;
    overflow: hidden;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 15;
}

.content {
    position: relative;
    z-index: 5;
}

.section {
    position: relative;
    &_intro {
        display: flex;
        min-height: 100vh;
    }
}

.footer {
    position: relative;
    z-index: 15;
    .container {
        padding: 0;
    }
}

.container {
    position: relative;
    width: map-get($breakpoints, 'large');
    margin: auto;
    padding: $offset * 2 $offset;
    z-index: 10;
}

.social {
    display: flex;
    justify-content: center;
    margin: 0 0 $offset;
    padding: 0;
    list-style: none;
    .social__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        text-decoration: none;
        color: map-get($colors, 'alt');
    }
    &_main {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        margin: 0;
        .social__item {
            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    .social__link {
                        transition-delay: $i * 100ms;
                    }
                }
            }
        }
        .social__link {
            opacity: 0;
            transform: scale(0);
            transition: .3s map-get($easing, 'main');
        }
    }
    .loaded &_main {
        .social__link {
            opacity: 1;
            transform: scale(1);
        }
    }
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid;
    border-radius: 30px;
    text-decoration: none;
    color: map-get($colors, 'active');
    cursor: pointer;
}

.btn-icon {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: none;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    color: map-get($colors, 'active');
    &_mail {
        position: fixed;
        right: 10px;
        top: 10px;
        opacity: 0;
    }
    .loaded & {
        &_mail {
            opacity: 1;
        }
    }
}

.logo {
    position: fixed;
    left: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    svg {
        width: 25px;
        fill: map-get($colors, 'active');
        path {
            opacity: 0;
            transition: .5s;
            &:nth-child(2) {
                transition-delay: .1s;
            }
        }
    }
    .loaded & {
        svg {
            path {
                &:nth-child(1) {
                    opacity: 1;
                }
                &:nth-child(2) {
                    opacity: .6;
                }
            }
        }   
    }
}

#canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

#cursor {
    display: none;
}

@media (min-width: map-get($breakpoints, 'medium')) {
    .container {
        padding: $offset * 6 $offset * 4;
    }

    .social {
        &_main {
            position: fixed;
            left: 80px;
            bottom: 80px;
            display: block;
            width: auto;
        }
    }

    .btn-icon {
        &_mail {
            right: 80px;
            top: 80px;
        }
    }

    .logo {
        left: 80px;
        top: 80px;
    }
}

@media (min-width: map-get($breakpoints, 'large')) {

    h1 {
        font-size: 3.3em;
    }

    .container {
        padding-left: 0;
        padding-right: 0;
    }

    #cursor {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 80px;
        height: 80px;
        margin-top: -40px;
        margin-left: -40px;
        opacity: 0;
        z-index: 10;
        &:before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100%;
            height: 100%;
            margin-left: -50%;
            margin-top: -50%;
            background: map-get($colors, 'active');
            border-radius: 100%;
            transform: scale(.25);
            opacity: .5;
            transition: .4s map-get($easing, 'jump');
        }
        &.active {
            &:before {
                opacity: .2;
                transform: scale(1);
            }
        }
    }

}